// common
@import '../common/index.scss';

// shared
@import '../shared/header/header.scss';
@import '../shared/account/login.scss';

.work-panel {
  width: 100%;
  padding-top: 80px;
  padding-right: 280px;
}

@import './widget.scss';
@import './edit_panel.scss';

@import './work_panel/form.scss';
@import './work_panel/field.scss';
