.security-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 15px;

  button {
    margin: 0 8px;
  }

  &__left {
    margin-bottom: 10px;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__tip {
    font-size: 14px;
    color: #9b9b9b;
  }

  &__label {
    font-weight: bold;
  }
}

@media only screen and (min-width: 48em) {
  .security-item {
    &__left {
      margin-bottom: 0;
    }

    &__right {
      display: block;
      width: auto;
    }
  }
}
