.form {
  width: 65%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 80px;

  &__header {
    background-color: $blue;
    color: #fff;
    padding: 13px 25px;
  }

  &__title {
    padding: 18px 25px;
    font-size: 18px;
    border-bottom: 1px solid #eee;
  }

  &__submit {
    margin-bottom: 50px;
    margin-left: 25px;
    margin-top: 30px;
    background-color: $blue;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 60px;
  }
}
